extends layout

block content
  div.iframe =iframe
    div.containerForSlider
      div.slider-users-wrapper__scroll-left
      div.slider-users-wrapper__scroll-right
      div.slider-users-wrapper__content
