doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://yandex.st/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/main.js')

    script(src='/plugins/sliderUsers/slider-users.js')
    link(rel='stylesheet', href='/plugins/sliderUsers/slider-users.css')
  body
    block content